{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %} {% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}


{% block content %}

    <footer>

        <div class="filmdock">
            <h2>FilmDock</h2>
            <p>The social network for film lovers. Track, rate and discover films with our community.</p>
        </div>

        <div class="explore">
            <h2>Explore</h2>
            <a href="#">Films</a>
            <a href="#">Users</a>
            <a href="#">Reviews</a>
        </div>

        <div class="about">
            <h2>About</h2>
            <a href="#">Who Am I?</a>
            <a href="#">What is this site?</a>
        </div>

        <div class="connect">
            <h2>Connect</h2>
            <a href="https://github.com/livialop"><i class="fa fa-github"></i></a>
        </div>

    </footer>

{% endblock content %}