{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %} Homepage {% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block content %}

    {% include "flash.html" %}

    <button><a href="{{url_for('register')}}">Register</a></button>
    <button><a href="{{url_for('login')}}">login</a></button>

    {% include "footer.html" %}
{% endblock content %}
