{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %} Login {% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block content %}

    <!-- {% include "flash.html" %} -->

    <form action="{{url_for('login')}}" method="post">
        <label for="email">Email:</label>
        <input type="text" placeholder="user@exemplo.com" name="email">

        <label for="password">Password:</label>
        <input type="password" placeholder="Password" name="password">

        <button type="submit">Submit</button>
    </form>

    {% include "footer.html" %}

{% endblock content %}