{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- {% block title %} Register {% endblock title %} -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block content %}

     {% include "flash.html" %} 
     {% include "header.html" %}
    
    <div class="container">
        <div class="card-form">
            <form action="">

                <div class="form">
                    <input
                        type="text"
                        id="name"
                        autocomplete="off"
                        placeholder=" "
                        class="form__input"
                        name="username"
                    />
                    <label for="username">Username</label>
                </div>

                <div class="form">
                    <input
                        type="text"
                        id="name"
                        autocomplete="off"
                        placeholder=" "
                        class="form__input"
                        name="email"
                    />
                    <label for="email">Email</label>
                </div>

                <div class="form">
                    <input
                        type="password"
                        id="name"
                        autocomplete="off"
                        placeholder=" "
                        class="form__input"
                        name="password"
                    />
                    <label for="password">Password</label>
                </div>
            </form> 
        </div>

        <div class="card-image">
            auau
        </div>

    </div>

     
         
    {% include "footer.html" %}

{% endblock content %}
