{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %} Register {% endblock title %}

{% endblock head %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form action="{{url_for('register')}}" method="post">
        <label for="nome">Username:</label>
        <input type="text" placeholder="exemplouser3" name="username">

        <label for="email">Email:</label>
        <input type="email" placeholder="fulano@exemplo.com" name="email">

        <label for="password">Password:</label>
        <input type="password" placeholder="Password" name="password">
    
        <button type="submit">Submit</button>

    </form>

    {% include "footer.html" %}

{% endblock content %}
