.container {
    display: flex;
    flex-direction: row;
}

.card-form {
    width: 55%;
    height: 100vh;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 10em 5em;
        background-color: #bbb5aa;
        box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
        border-radius: 1.5em;

        p {
            color:#2B2B2B;
            font-weight: 400;
            a {
                text-decoration: none; 
                color: #c44225;
                font-weight: 500;
                transition: color 0.2s ease;
                &:hover {
                    color: #2B2B2B;
                }
            }
        }

        button {
            background-color: #c44225;
            color: #2B2B2B;
            border: none;
            border-radius: 0.5em;
            padding: 0.5em 1em;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.1s ease;
            -webkit-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.75);

            &:hover {
                background-color: #bbb5aa;
                color: #2B2B2B;
            }

        }

    }

    .form {
        width: 40em;
        max-width: 20em;
        height: 2.5em;
        position: relative;
        /* box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.75); */
        border-radius: 0.5em;
    }


    .form__input {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #bbb5aa;
        /* border: 2px solid #fff; */
        border-radius: 0.5em;
        outline: none;
        /* color: #fff; */
        padding-left: 1em;
        transition: ease-in 0.2s;
    }

    label {
        position: absolute;
        background: #bbb5aa;
        color: #c44225;
        font-family: sans-serif;
        left: 1em;
        top: 0.75em;
        cursor: text;
        font-weight:calc(1250*1/2);
        transition: top 350ms ease-in, font-size 350ms ease-in;
    }

    .form__input:hover {
        transform: scale(1.01);
    }

    .form__input:focus {
        border: 2px solid rgba(10, 10, 10, 0.5);
    }

    input[type="text"]:focus ~ label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ label {
        top: -0.5em;
        font-size: 0.75rem;
        padding: 0 0.125em;
    }

    input[type="password"]:focus ~ label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ label {
        top: -0.5em;
        font-size: 0.75rem;
        padding: 0 0.125em;
    }

}

.card-image {
    width: 45%;
    height: 100vh;
    background-color: #2B2B2B;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
        filter: blur(0.2em);
    }

    

}
